desktop.ini
client_secret.json
databases/Chicago.bak
databases/**.7z
Events/2026/DayOfData - Raleigh/itinerary.md
Events/2026/DayOfData - Raleigh/Ultimate_Motorcycle_Itinerary_v38_Final.md
PowerShell/Your Script Called. It Wants to Be a Function/Demos/_Setup.ps1
Events/2026/Jax Data - September/build_itinerary_v3.py
Events/2026/Jax Data - September/Lafayette_to_Miami_Itinerary.pdf
blogposts/__pycache__/**
blogposts/**/**.md
